<mat-sidenav-container>

  <mat-toolbar color="primary">
    <a href="/" class="logo">
      <img src="assets/logo/teks_talk.png">
    </a>
    <span fxFlex></span>
    <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
      <mat-icon color="primary">more_vert</mat-icon>
    </button>
    <mat-menu #settingsMenu="matMenu">
      <button mat-menu-item>
        Member List
      </button>
      <button mat-menu-item>
        Boks Info
      </button>
      <button mat-menu-item>
        Contact Admin
      </button>
    </mat-menu>

  </mat-toolbar>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/logo/ic_info_inactive.png">
      </ng-template>
          <app-topic></app-topic>
          <app-topic></app-topic>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/logo/ic_timeline_active.png">
      </ng-template>
      <app-post></app-post>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/logo/ic_all_boks_d.png">
      </ng-template>
      <app-topic></app-topic>
      <app-topic></app-topic>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/logo/ic_setting_inactive.png">
        </ng-template>
        <app-topic></app-topic>
        <app-topic></app-topic>
      </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>