<mat-card class="card-type-second">
    <mat-card-footer class="white-text-color">
      <h5 class="push-bottom-xs">Topik title</h5>
      <p class="push-bottom-xs">Deskripsi topik untuk topik dummy</p>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex class="text-left">
          <i class="material-icons" style="font-size: 12px;">check</i> April 20, 2018</div>
        <div fxFlex class="text-right mat-headline">
          <mat-icon>more_vert</mat-icon>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>