<mat-card class="card-type-seventh">
  <mat-card-header>
    <img matCardAvatar src="assets/avatars-img/4040.png">
    <mat-card-title>Leo Di</mat-card-title>
    <mat-card-subtitle>April 21, 2018</mat-card-subtitle>
  </mat-card-header>
  <div class="img-wrap"></div>
  <mat-card-content class="secondary-text-color">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolores et inventore placeat, provident quisquam!
    </p>
  </mat-card-content>
  <mat-card-actions align="end" class="icon-color">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>bookmark</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>