.card-type-seventh {
    padding-top: 10px;
    .mat-card-header {
      margin-bottom: 20vh;
    }
    .img-wrap {
      position: absolute;
      left: 0;
      right: 0;
      top: 90px;
      height: 20vh;
      background: url("/assets/cards-demo/600400.png") no-repeat center;
      background-size:cover;
    }
  }